<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zxylearn.bcnlserver.mapper.TeamJoinApplyMapper">

    <resultMap id="TeamJoinApplyVOMap" type="zxylearn.bcnlserver.pojo.DTO.TeamJoinApplyVO">
        <id property="id" column="tja_id"/>
        <result property="applyTime" column="tja_apply_time"/>
        <result property="status" column="tja_status"/>
        
        <association property="user" javaType="zxylearn.bcnlserver.pojo.entity.User">
            <id property="id" column="u_id"/>
            <result property="username" column="u_username"/>
            <result property="email" column="u_email"/>
            <result property="name" column="u_name"/>
            <result property="avatar" column="u_avatar"/>
            <result property="birthday" column="u_birthday"/>
            <result property="phone" column="u_phone"/>
            <result property="gender" column="u_gender"/>
            <result property="address" column="u_address"/>
            <result property="admin" column="u_admin"/>
        </association>
    </resultMap>

    <select id="selectTeamJoinApplies" resultMap="TeamJoinApplyVOMap">
        SELECT 
            tja.id AS tja_id,
            tja.apply_time AS tja_apply_time,
            tja.status AS tja_status,
            u.id AS u_id,
            u.username AS u_username,
            u.email AS u_email,
            u.name AS u_name,
            u.avatar AS u_avatar,
            u.birthday AS u_birthday,
            u.phone AS u_phone,
            u.gender AS u_gender,
            u.address AS u_address,
            u.admin AS u_admin
        FROM team_join_apply tja
        INNER JOIN user u ON tja.applicant_id = u.id
        WHERE tja.team_id = #{teamId}
        ORDER BY tja.apply_time DESC
    </select>

</mapper>